.vk
{
	background: #f5d9df;
	font-family: "Nunito" , sans-serif;
}

#mainnavbar{
	font-size: 1.2rem;
	font-weight: 100;
}
#mainnavbar .nav-link{
	color:black;

}

#mainnavbar .nav-link:hover {
	color:#EA1C2C;
}

#mainnavbar .navbar-brand{
	color:#EA1C2C;
	font-size: 1.5rem;
	font-weight: 120;


}
#headinggroup span{
	color:#EA1C2C;
}

#headinggroup h1{
    color: white;
    text-shadow: 0px 44px 88px purple,
                 3px 5px 9px yellow;

	font-weight: 100;
	font-size: 3.5rem;
}

.HI h2{
	color:#EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.HI p{
	color:#f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.navbar.scrolled{
	background:rgb(222,192,222);
	transition: background 500ms; 
}

@media(max-width: 1200px){
	#headinggroup h1{
		font-weight: 100;
		font-size: 3rem;
	}
}

